<!-- <c-card>
  <c-card-header>
    <svg [cIcon]="icons.cilWarning" size="xl"></svg>
    <strong> &nbsp; Importante</strong>
</c-card-header>
  <c-card-body>
    <div class="alert alert-warning" role="alert" style="text-align: justify">
      Para melhor uso do sistema permita que o site mande notificações
    </div>
  </c-card-body>
</c-card> -->
<br>
<c-card>
  <c-card-header>
    <svg [cIcon]="icons.cilInfo" size="xl"></svg>
    <strong> &nbsp; Dados atuais</strong>
  </c-card-header>
  <c-card-body>
    <!-- <c-chart type="line" [data]="data"></c-chart> -->
    <form cForm>
      <c-row>
        <c-col [md]="6">
          <label cLabel> <strong>Nível de vazão:</strong></label> <br>
          <input cFormControl sizing="lg" [value]="this.vazoes[this.vazoes.length - 1]+'%'" disabled>
        </c-col>
        <c-col [lg]="6">
          <label cLabel> <strong>Nível de água:</strong></label><br>
          <input  cFormControl sizing="lg" [value]="this.niveis[this.niveis.length - 1] + '%'" disabled />
        </c-col>
      </c-row>
    </form>
  </c-card-body>
    <c-card-footer *ngIf="this.buttonFlag == true">
      <div class="alert alert-warning" role="alert" style="text-align: justify">
        <p>
          <strong>Os valores de nível e vazão atuais dão indícios de falta d'água em futuro breve, gostaria de chamar um caminhão pipa?</strong> 
        </p>
      </div>
      <button class="btn btn-primary " (click)="goToContactPage()">Entrar em contato</button>
    </c-card-footer>
</c-card>